<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios Veterinarios</title>
</head>
<body>
    <h1>Nuestros Servicios Veterinarios</h1>
    <ul>
        <li>Consultas generales</li>
        <li>Vacunación</li>
        <li>Cirugías menores</li>
        <li>Control de mascotas</li>
    </ul>
    <img src="https://images.unsplash.com/photo-1518717758536-85ae29035b6d" alt="Mascota feliz" width="300">
    <br>
    <a href="{% url 'bienvenida' %}">Volver a inicio</a>
</body>
</html>