<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios Veterinarios</title>
</head>
<body>
    <h1>Nuestros Servicios Veterinarios</h1>
    <ul>
        <li>Consultas generales</li>
        <li>Vacunación</li>
        <li>Cirugías menores</li>
        <li>Control de mascotas</li>
    </ul>
    <img src="https://media.istockphoto.com/id/1845512061/es/foto/lindos-gatos-y-perros-dom%C3%A9sticos-de-varios-colores-corren-por-un-prado-soleado-de-verano.jpg?s=612x612&w=0&k=20&c=6VVrOQvsNBH-FmBomJK7KLp9gFeYcrGSO65NeBAz_RQ=" alt="Mascotas" width="300">
    <br>
    <a href="{% url 'bienvenida' %}">Volver a inicio</a>
</body>
</html>
